# Creating and Inserting Data

## Setup

In [1]:
!curl -LsS -o $TEMPDIR/geography.db 'https://storage.googleapis.com/ibis-tutorial-data/geography.db'

In [ ]:
import os
import tempfile
import ibis

ibis.options.interactive = True

connection = ibis.sqlite.connect(os.path.join(tempfile.gettempdir(), 'geography.db'))

## Creating new tables from Ibis expressions


Suppose you have an Ibis expression that produces a table:

In [ ]:
countries = connection.table('countries')

continent_name = (countries.continent
                           .case()
                           .when('AF', 'Africa')
                           .when('AN', 'Antarctica')
                           .when('AS', 'Asia')
                           .when('EU', 'Europe')
                           .when('NA', 'North America')
                           .when('OC', 'Oceania')
                           .when('SA', 'South America')
                           .else_(countries.continent)
                           .end()
                           .name('continent_name'))

expr = countries[countries.continent, continent_name].distinct()
expr

To create a table in the database from the results of this expression, use the connection's `create_table` method:

In [ ]:
connection.create_table('continents', expr)

In [ ]:
continents = connection.table('continents')
continents

Tables can be similarly dropped with `drop_table`

In [ ]:
connection.drop_table('continents')

## Inserting data into existing tables


Some backends support inserting data into existing tables from expressions. This can be done using `connection.insert('table_name', expr)`.